<!-- Libs used on each page - Jquery & Lozad -->
<script defer src="assets/js/jquery/jquery.js"></script>

<% if(locals.modernizr){ %>
    <script defer src="assets/vendors/modernizr/modernizr.js"></script>
<% } %>

<!-- Core Template Scrips -->
<script defer src="assets/js/main.min.js"></script>

</body>
</html>



